body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}


.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.png) no-repeat center top / cover;

	height: 100vh;

	box-shadow: 0 0 100px rgba(12, 12, 12, 0.911);
}

.container {
	width: 900px;
	margin: auto;
	}

.logo {
margin: 20px;
	position: fixed;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;


}

.menu {
	padding: 10px;
	margin: ;
	display: block;
	text-shadow: #484543;
	font-weight: bold;
	text-shadow: 0 1px 0 rgb(1,1,1,.2);
	position: fixed;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
	font-weight: bold;
	text-shadow: 0 1px 0 #cac8c8;
	text-shadow: 0 2px 0 #c7c6c5;
	text-shadow: 0 3px 0 #bbbaba;
	text-shadow: 0 4px 0 #b7b7b6;
	text-shadow: 0 5px 0 #a9a6a6;
	position: sticky;





}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;

}


.button:hover {

	background-color: #fa9600;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 245px;
	padding: 23px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}





